<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpw.hero.orderinfo.mapper.OrderinfoMapper" >
  <resultMap id="BaseResultMap" type="com.lpw.hero.orderinfo.bean.Orderinfo" >
    <id column="orderinfo_id" property="orderinfoId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="shop_num" property="shopNum" jdbcType="INTEGER" />
    <result column="shop_price" property="shopPrice" jdbcType="DOUBLE" />
    <result column="orderm_id" property="ordermId" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="order_shopimg" property="orderShopimg" jdbcType="VARCHAR" />
  </resultMap>
  
</mapper>